
.column { color:green;
	      float: left;
	      width:25%;
}

#Subject {
  font-size:25px;
  color:#999999;
  padding-left:30px;
}

#topbar {
	background-color:gray;
}


#MyTitle {
    display: block;
}

#MyName {
    font-size:2em;
    color:#3A5A8B;
}

#MyJob {
    font-size:1em;
    color:#80A0D0;
}
#MyDiary {
    font-size:0.5em;
    color:#ECEAEC;
}

.profile_btn{
	color:#000000;
}

span {
	font-size:7px;
	color:#CFD0D8;
}

.homework:hover{
   background-color:#CC0000;
   color:#FFFFFF;
}